# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
db-queries.txt
api/client_secret.json
client_secret.json
api/.env copy
rapport.md
