/* .header {
  margin-top: 2rem;
} */

/* BLUE ADD BUTTON */
/* .btn-big-blue {
  font-size: 48px;
  font-weight: 700;
  line-height: 0.6;
  background-color: var(--color-primary);
  border-radius: 50%;
  width: 1.4em;
  height: 1.4em;
  display: grid;
  place-items: center;
} */

/* THREE DOTS BUTTON */
/* .btn-three-dots {
  background-color: var(--color-accent);
  color: black;
  padding: 0.8rem;
  border-radius: 50%;
}

.btn-three-dots img {
  width: 0.9rem;
} */

/* CLOSE BTN */
.btn-close {
  /* transform: rotate(45deg); */
}

.btn-arrow {
  font-size: 2.2rem;
  margin-right: 1rem;
}

/* PROGRESS-BAR
.to-do-items-wrapper {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

/* TO-DO GROUP */
/* .todo-group-item {
  position: relative;
  overflow: hidden;
  border-radius: var(--boarder-radius-primary);
}

.todo-group-item-wrapper {
  padding: 1rem 10px;
  display: flex;
  flex-direction: column;
  gap: 0.7rem;
}

.todo-group-item-title {
  max-width: 60%;
}

.todo-group-item .img-container {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  filter: blur(33px);
  z-index: -1;
  background-color: rgb(56, 56, 56);
}

.todo-group-item .img-container svg {
  width: 100%;
  height: 100%;
  opacity: 0.7;
} */

/* PROGRESS-BAR */
/* .progress-bar {
  position: relative;
  border: 2px solid white;
  border-radius: 20px;
  width: 100%;
  height: 1.5rem;
}

.progress-bar-indicator {
  position: absolute;
  top: 0;
  border-radius: 20px;
  background-color: rgb(255, 255, 255);
  width: 50%;
  height: 100%;
}

.date {
  font-family: var(--font-family-lexend);
} */

/* GROUP NAME INPUT FIELD */
#input-group-name {
  font-size: var(--font-heading);
  padding: 0;
  background-color: unset;
  border: none;
  font-family: var(--font-family-lexend);
  font-weight: var(--font-weight-regular);
  color: rgb(175, 175, 175);
  min-width: 0px;
}

#input-group-name:focus,
#input-group-name:active {
  border: none;
  outline: none;
  -webkit-tap-highlight-color: transparent;
}

.name-input-wrapper {
  margin-top: 1.2rem;
}