:root {
  /* FONTS SIZES*/
  --font-title: 2.488rem;
  --font-heading: 1.728rem;
  --font-heading-2: 1.2rem;
  --font-body: 1rem;
  --font-small: 0.83rem;

  /* FONT WEIGHTS */
  --font-weight-bold: 700;
  --font-weight-medium: 500;
  --font-weight-regular: 400;
  --font-weight-thin: 100;

  /* FONT FAMILY */
  --font-family-lexend: 'lexend', Arial, Helvetica, sans-serif;
  --font-family-inter: 'inter', Arial, Helvetica, sans-serif;

  /* COLORS */
  --color-text: #FAFAFA;
  --color-background: #1A1A1A;
  --color-primary: #2497F0;
  --color-secondary: #282828;
  --color-accent: #FFFFFF;

  /* RADIUS */
  --boarder-radius-primary: 25px;
}

html {
  background-color: var(--color-background);
  color: var(--color-text);
  position: relative;
}

body {
  margin: 0 10px;
  display: flex;
  flex-direction: column;
  min-height: 100svh;
  overflow-x: hidden;
}

#app {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  gap: 0.7rem;
  padding-bottom: 2rem;
}

#second-screen {
  padding: 0 10px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #1A1A1A;
}


h1 {
  font-family: var(--font-family-lexend);
  font-size: var(--font-title);
  font-weight: var(--font-weight-bold);
  line-height: 1.2;
}

h2 {
  font-family: var(--font-family-lexend);
  font-size: var(--font-heading);
  font-weight: var(--font-weight-medium);
  line-height: 1.2;
}

h3 {
  font-family: var(--font-family-lexend);
  font-size: var(--font-heading-2);
  font-weight: var(--font-weight-medium);
}

p {
  font-family: var(--font-family-inter);
  font-size: var(--font-body);
  font-weight: var(--font-weight-regular);
}

i {
  font-family: var(--font-family-inter);
  font-size: var(--font-small);
  font-weight: var(--font-weight-thin);
}