@import url("../../styles/shared-styles.css");

#input-group-name {
  font-size: var(--font-heading-2);
  padding: 0;
  background-color: unset;
  border: none;
  font-family: var(--font-family-lexend);
  font-weight: var(--font-weight-regular);
  color: rgb(175, 175, 175);
  min-width: 0px;
}

#input-group-name:focus,
#input-group-name:active {
  border: none;
  outline: none;
  -webkit-tap-highlight-color: transparent;
}

.name-input-wrapper {
  margin-top: 1.2rem;
}

.btn-arrow {
  font-size: 2rem;
  margin-right: 1rem;
  opacity: 0.7;
}

.todo-group-item {
  border-bottom: 1px solid rgb(175, 175, 175);
  ;
}